{% extends '@Contao/block_searchable' %}

{% block content %}
    {% if items %}
        {% for item in items %}
            <div class="testimonial">
                {% if item.image %}
                    {{ contao_figure(item.image, imgSize) }}
                {% endif %}

                <div class="testimonial-text">
                    {{ item.testimonial|raw }}
                </div>

                <div class="testimonial-meta">
                    <div class="name">{{ item.name }}</div>
                    {% if item.department %}
                        <div class="department">{{ item.department }}</div>
                    {% endif %}
                    {% if item.company %}
                        <div class="company">{{ item.company }}</div>
                    {% endif %}
                </div>

                {% if addRatings %}
                <div class="testimonial-rating">
                    {% for star in item.rating %}
                    <span class="star{% if star.checked %} checked{% endif %}">{% if star.checked %}&#9733;{% else %}&#9734;{% endif %}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
